VITE_SUPABASE_URL=https://ejuoefbmofozggbvsehh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqdW9lZmJtb2ZvemdnYnZzZWhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2OTMzNTIsImV4cCI6MjA4ODI2OTM1Mn0.UeoEqFPJoEja4ryVgocubHsI3qqLbMhCxIQCxlWcxlc

# Configurações do Z-API
VITE_ZAPI_INSTANCE=3ECD22ED86FE925D5A7772442EF70706
VITE_ZAPI_TOKEN=9D350B8542F495AC919995C1
VITE_ZAPI_CLIENT_TOKEN=Ff94d05bcd8b546afb957fc52d8e33ebaS